body{
    background-image: linear-gradient(150deg, rgb(248, 92, 8) 10%,
    rgb(209, 59, 94) 40%, rgb(142, 62, 199) 68%, rgb(61, 152, 212) 90%);
}

html{
    min-height: 100%;
}

.title{
    margin-top: 100px;
    font-size: 35px;
    text-align: center;
}

.form{
    margin: auto;
    width: 200px;
}

